<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                   KONNECT
                </a>
            </p>
        </div>
    <div class="auth-links">
    <ul>
        <%if(locals.user){%>
            <li><a href="/users"><%=user.name%></a></li>
            <li>
                <a href="/sign-out">Sign Out</a>
            </li>
        <%}else{%>
            <li>
                <a href="/sign-in">Sign in</a>
            </li>
            <li>
                <a href="/sign-up">Sign up</a>
            </li>
        <%}%>
    </ul>
</div>
</nav>
</header>